n8n-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        },
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "triggerOn": "specificFolder",
                "folderToWatch": {
                    "__rl": true,
                    "value": "19FXeYzSxHHGIsZBEsAugXvW9StERAeOQ",
                    "mode": "list",
                    "cachedResultName": "Healthtracker",
                    "cachedResultUrl": "https://drive.google.com/drive/folders/19FXeYzSxHHGIsZBEsAugXvW9StERAeOQ"
                },
                "event": "fileCreated",
                "options": {}
            },
            "type": "n8n-nodes-base.googleDriveTrigger",
            "typeVersion": 1,
            "position": [
                576,
                160
            ],
            "id": "1f65c531-55e2-4b00-a608-776cdedd39a4",
            "name": "Google Drive Trigger",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "OshKZioGU0eClFog",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                },
                "options": {
                    "binaryPropertyName": "data"
                }
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                992,
                160
            ],
            "id": "0b2e3962-d53c-4a7b-a0ae-569779788b84",
            "name": "Download file",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "OshKZioGU0eClFog",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/parse",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "parameterType": "formBinaryData",
                            "name": "file",
                            "inputDataFieldName": "data"
                        }
                    ]
                },
                "options": {
                    "timeout": 300000
                }
            },
            "id": "f6cde71e-3bd6-4118-a73e-27995f4d14be",
            "name": "MarkItDown Parser (via Mac)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                576,
                448
            ]
        },
        {
            "parameters": {
                "content": "# Ingestion\nThis flow ingests PDF's \nfrom a Google Drive folder\nand loads it into binary\nmemory for the n8n\nworkflow to continue",
                "height": 256,
                "width": 1536
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                192,
                96
            ],
            "typeVersion": 1,
            "id": "108fd8f9-85fc-4411-bed9-60b404046531",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Extract the data from this report: {{ $json.data }}",
                "options": {
                    "systemMessage": "You are a medical data extraction API. Your goal is to extract patient information and test results from Markdown text with **high precision and consistency**.\n## 1. Extraction Rules\n### Patient Information\n- **Name**: Always return 'FIRSTNAME LASTNAME' in UPPERCASE (e.g., 'RAHUL NANDURI'). Ignore middle names.\n- **Age**: Extract as integer.\n- **Gender**: Extract as UPPERCASE ('MALE' or 'FEMALE').\n### Date Extraction\n- Identify the 'Test Date', 'Collection Date', or 'Report Date' from the document header.\n- Return in **YYYY-MM-DD** format (e.g., 2025-12-27).\n### Categorization\nGroup biomarkers by their logical category using these **exact category names**:\n- BIOCHEMISTRY\n- HEMATOLOGY\n- LIPID PROFILE\n- THYROID FUNCTION TEST\n- RENAL FUNCTION TEST\n- LIVER FUNCTION TEST\n- URINE ANALYSIS\n- VITAMINS\n- CLINICAL PATHOLOGY\n**CRITICAL**: Each test should appear in only ONE category. Use the most specific category. For example:\n- Cholesterol tests → LIPID PROFILE (not BIOCHEMISTRY)\n- Vitamin D, B12 → VITAMINS (not BIOCHEMISTRY)\n- Creatinine, Urea, BUN → RENAL FUNCTION TEST\n- TSH, T3, T4 → THYROID FUNCTION TEST\n## 2. Test Name Standardization (CRITICAL)\nAlways use these **exact standardized names** in UPPERCASE:\n| Common Variations | Standardized Name |\n|-------------------|-------------------|\n| Vitamin D, 25 Hydroxy Vitamin D, Vitamin D (25 Hydroxy), 25-OH Vitamin D | VITAMIN D 25 HYDROXY |\n| Vit B12, B12, Vitamin B-12, Cyanocobalamin | VITAMIN B12 CYANOCOBALAMIN |\n| TSH, Thyroid Stimulating Hormone, Thyrotropin | TSH THYROID STIMULATING HORMONE |\n| HDL, HDL Cholesterol, Cholesterol HDL, HDL-C | CHOLESTEROL HDL DIRECT |\n| LDL, LDL Cholesterol, LDL-C | LDL CHOLESTEROL |\n| Total Cholesterol, Cholesterol Total | CHOLESTEROL TOTAL |\n| Triglycerides, TG, Triacylglycerol | TRIGLYCERIDES |\n| Hemoglobin, Hb, Hgb | HEMOGLOBIN |\n| HbA1c, Glycated Hemoglobin, A1C | HEMOGLOBIN A1C |\n| Creatinine, Serum Creatinine, S. Creatinine | CREATININE SERUM |\n| Urea, Blood Urea, Serum Urea | UREA SERUM |\n| BUN, Blood Urea Nitrogen | BLOOD UREA NITROGEN |\n| SGPT, ALT, Alanine Aminotransferase | SGPT ALT |\n| SGOT, AST, Aspartate Aminotransferase | SGOT AST |\n| GGT, Gamma GT, Gamma Glutamyl Transferase | GGT GAMMA GT |\n| Bilirubin Total, T. Bilirubin | BILIRUBIN TOTAL |\n| Bilirubin Direct, D. Bilirubin | BILIRUBIN DIRECT |\n| Uric Acid, Serum Uric Acid | URIC ACID |\n| Calcium, Serum Calcium | CALCIUM SERUM |\n| Phosphorus, Phosphate | PHOSPHORUS SERUM |\n| Sodium, Na, Serum Sodium | SODIUM SERUM |\n| Potassium, K, Serum Potassium | POTASSIUM SERUM |\n**ALL test_name values MUST be UPPERCASE.**\n## 3. Handling Complex Tests\nIf a test has multiple properties (e.g., Urine Color, Urine pH), each property must be its own entry in the 'metrics' array, sharing the same 'category' and 'test_date'.\n## 4. Reference Range Handling\n- Extract the **exact reference range text** from the report.\n- If a range shows \"< 10\", preserve as \"< 10\".\n- If a range shows \"10 - 20\", preserve as \"10 - 20\".\n- Do not modify or interpret the reference range.\n## 5. Output Format\nReturn ONLY a raw JSON object. Do not include markdown code blocks or the word 'json'.\n{\n  \"user\": {\n    \"name\": \"FIRSTNAME LASTNAME\",\n    \"age\": 22,\n    \"gender\": \"MALE\"\n  },\n  \"metrics\": [\n    {\n      \"category\": \"VITAMINS\",\n      \"test_date\": \"YYYY-MM-DD\",\n      \"test_name\": \"VITAMIN D 25 HYDROXY\",\n      \"value\": \"28.99\",\n      \"unit\": \"ng/mL\",\n      \"reference_range\": \"30 - 100\"\n    }\n  ]\n}"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                784,
                448
            ],
            "id": "e414a662-a042-4b81-8829-abaf39b81755",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                784,
                624
            ],
            "id": "6b5d4f58-c5ab-42aa-b54d-1fb7363c8787",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "lXwWdlqrNTVkjtv5",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Test name normalization mapping\nconst TEST_NAME_MAP = {\n  // Vitamin D variations\n  'VITAMIN D': 'VITAMIN D 25 HYDROXY',\n  '25 HYDROXY VITAMIN D': 'VITAMIN D 25 HYDROXY',\n  'VITAMIN D (25 HYDROXY)': 'VITAMIN D 25 HYDROXY',\n  '25-OH VITAMIN D': 'VITAMIN D 25 HYDROXY',\n  '25 OH VITAMIN D': 'VITAMIN D 25 HYDROXY',\n  \n  // B12 variations\n  'VIT B12': 'VITAMIN B12 CYANOCOBALAMIN',\n  'B12': 'VITAMIN B12 CYANOCOBALAMIN',\n  'VITAMIN B-12': 'VITAMIN B12 CYANOCOBALAMIN',\n  'VITAMIN B 12': 'VITAMIN B12 CYANOCOBALAMIN',\n  'CYANOCOBALAMIN': 'VITAMIN B12 CYANOCOBALAMIN',\n  \n  // TSH variations\n  'TSH': 'TSH THYROID STIMULATING HORMONE',\n  'THYROID STIMULATING HORMONE': 'TSH THYROID STIMULATING HORMONE',\n  'THYROTROPIN': 'TSH THYROID STIMULATING HORMONE',\n  \n  // Cholesterol variations\n  'HDL': 'CHOLESTEROL HDL DIRECT',\n  'HDL CHOLESTEROL': 'CHOLESTEROL HDL DIRECT',\n  'HDL-C': 'CHOLESTEROL HDL DIRECT',\n  'LDL': 'LDL CHOLESTEROL',\n  'LDL-C': 'LDL CHOLESTEROL',\n  'TOTAL CHOLESTEROL': 'CHOLESTEROL TOTAL',\n  \n  // Hemoglobin variations\n  'HB': 'HEMOGLOBIN',\n  'HGB': 'HEMOGLOBIN',\n  'HBA1C': 'HEMOGLOBIN A1C',\n  'GLYCATED HEMOGLOBIN': 'HEMOGLOBIN A1C',\n  'A1C': 'HEMOGLOBIN A1C',\n  \n  // Liver function variations\n  'SGPT': 'SGPT ALT',\n  'ALT': 'SGPT ALT',\n  'ALANINE AMINOTRANSFERASE': 'SGPT ALT',\n  'SGOT': 'SGOT AST',\n  'AST': 'SGOT AST',\n  'ASPARTATE AMINOTRANSFERASE': 'SGOT AST',\n  'GGT': 'GGT GAMMA GT',\n  'GAMMA GT': 'GGT GAMMA GT',\n  \n  // Kidney function variations\n  'CREATININE': 'CREATININE SERUM',\n  'SERUM CREATININE': 'CREATININE SERUM',\n  'S CREATININE': 'CREATININE SERUM',\n  'UREA': 'UREA SERUM',\n  'BLOOD UREA': 'UREA SERUM',\n  'BUN': 'BLOOD UREA NITROGEN',\n  \n  // Electrolyte variations\n  'NA': 'SODIUM SERUM',\n  'SODIUM': 'SODIUM SERUM',\n  'K': 'POTASSIUM SERUM',\n  'POTASSIUM': 'POTASSIUM SERUM',\n  'CA': 'CALCIUM SERUM',\n  'CALCIUM': 'CALCIUM SERUM',\n};\n// Category normalization\nconst CATEGORY_MAP = {\n  'BIOCHEMISTRY': 'BIOCHEMISTRY',\n  'BIO CHEMISTRY': 'BIOCHEMISTRY',\n  'HEMATOLOGY': 'HEMATOLOGY',\n  'HAEMATOLOGY': 'HEMATOLOGY',\n  'LIPID PROFILE': 'LIPID PROFILE',\n  'LIPIDS': 'LIPID PROFILE',\n  'THYROID': 'THYROID FUNCTION TEST',\n  'THYROID FUNCTION': 'THYROID FUNCTION TEST',\n  'THYROID FUNCTION TEST': 'THYROID FUNCTION TEST',\n  'RENAL': 'RENAL FUNCTION TEST',\n  'RENAL FUNCTION': 'RENAL FUNCTION TEST',\n  'RENAL FUNCTION TEST': 'RENAL FUNCTION TEST',\n  'KIDNEY FUNCTION': 'RENAL FUNCTION TEST',\n  'LIVER': 'LIVER FUNCTION TEST',\n  'LIVER FUNCTION': 'LIVER FUNCTION TEST',\n  'LIVER FUNCTION TEST': 'LIVER FUNCTION TEST',\n  'URINE': 'URINE ANALYSIS',\n  'URINE ANALYSIS': 'URINE ANALYSIS',\n  'URINALYSIS': 'URINE ANALYSIS',\n  'VITAMINS': 'VITAMINS',\n  'VITAMIN': 'VITAMINS',\n};\nfunction normalizeTestName(name) {\n  const upper = name.toUpperCase().trim();\n  // Check for exact match first\n  if (TEST_NAME_MAP[upper]) {\n    return TEST_NAME_MAP[upper];\n  }\n  // Check for partial matches\n  for (const [key, value] of Object.entries(TEST_NAME_MAP)) {\n    if (upper.includes(key) || key.includes(upper)) {\n      return value;\n    }\n  }\n  // Return uppercase version if no mapping found\n  return upper;\n}\nfunction normalizeCategory(category) {\n  const upper = category.toUpperCase().trim();\n  return CATEGORY_MAP[upper] || upper;\n}\n// Main processing\nconst response = JSON.parse(\n  $json.output.replace(/```json/g, \"\").replace(/```/g, \"\").trim()\n);\nconst user = response.user;\nconst metrics = response.metrics;\nreturn metrics.map(m => ({\n  json: {\n    user_name: user.name.toUpperCase().trim(),\n    user_age: user.age,\n    user_gender: user.gender.toUpperCase().trim(),\n    category: normalizeCategory(m.category || \"General\"),\n    test_date: m.test_date,\n    test_name: normalizeTestName(m.test_name),\n    test_value: String(m.value).trim(),\n    test_unit: m.unit,\n    test_range: m.reference_range\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                448
            ],
            "id": "06896eb8-98c7-49d3-9946-c946f5a901df",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "content": "# Parsing\nThis flow passes the binary \nfile in memory to a MarkItDown\nFlask helper server that transforms\ninto markdown output for a Gemini\nmodel via API to process. The output\nis a large unbroken JSON array ",
                "height": 384,
                "width": 1104
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                192,
                384
            ],
            "typeVersion": 1,
            "id": "5ede4304-c2bd-4bc5-b449-778ed0d0e820",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "operation": "upsert",
                "schema": {
                    "__rl": true,
                    "mode": "name",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "users",
                    "mode": "list",
                    "cachedResultName": "users"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "name": "={{ $json.user_name }}",
                        "gender": "={{ $json.user_gender }}",
                        "age": "={{ $json.user_age }}"
                    },
                    "matchingColumns": [
                        "name"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "name",
                            "displayName": "name",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "age",
                            "displayName": "age",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": false
                        },
                        {
                            "id": "gender",
                            "displayName": "gender",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false
                        },
                        {
                            "id": "created_at",
                            "displayName": "created_at",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {
                    "outputColumns": [
                        "id"
                    ]
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                576,
                896
            ],
            "id": "8562076e-d176-4982-847d-c7429e83508d",
            "name": "Insert or update rows in a table",
            "credentials": {
                "postgres": {
                    "id": "EDZFb6n5fwpDXEwi",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "content": "# Load\nThis flow converts the JSON output \ninto SQL. The first node inserts the data\nfor a new user if applicable and the second \nnode appends the JSON test values to the \nlab_results table. ",
                "height": 384,
                "width": 832
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                192,
                800
            ],
            "typeVersion": 1,
            "id": "548bcc8e-2f9c-4134-8639-400b29724f19",
            "name": "Sticky Note2"
        },
        {
            "parameters": {
                "operation": "upsert",
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "lab_metrics",
                    "mode": "list",
                    "cachedResultName": "lab_metrics"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "test_date": "={{ $('Code in JavaScript').item.json.test_date }}",
                        "category": "={{ $('Code in JavaScript').item.json.category }}",
                        "test_value": "={{ $('Code in JavaScript').item.json.test_value }}",
                        "test_name": "={{ $('Code in JavaScript').item.json.test_name }}",
                        "user_id": "={{ $json.id }}"
                    },
                    "matchingColumns": [
                        "user_id",
                        "test_name",
                        "test_date"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "user_id",
                            "displayName": "user_id",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "category",
                            "displayName": "category",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false,
                            "removed": false
                        },
                        {
                            "id": "test_date",
                            "displayName": "test_date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "test_name",
                            "displayName": "test_name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "test_value",
                            "displayName": "test_value",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false,
                            "removed": false
                        },
                        {
                            "id": "test_unit",
                            "displayName": "test_unit",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false,
                            "removed": false
                        },
                        {
                            "id": "test_range",
                            "displayName": "test_range",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": false,
                            "removed": false
                        },
                        {
                            "id": "created_at",
                            "displayName": "created_at",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": false,
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                800,
                896
            ],
            "id": "61e203ef-452a-4ef3-9fc3-45c24a6f5b7d",
            "name": "Insert or update rows in a table1",
            "credentials": {
                "postgres": {
                    "id": "EDZFb6n5fwpDXEwi",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                784,
                160
            ],
            "id": "48a49975-43a9-44fe-ab2e-9b13ed7d3ff8",
            "name": "Loop Over Items"
        }
    ],
    "connections": {
        "Google Drive Trigger": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download file": {
            "main": [
                [
                    {
                        "node": "MarkItDown Parser (via Mac)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MarkItDown Parser (via Mac)": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "Insert or update rows in a table",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert or update rows in a table": {
            "main": [
                [
                    {
                        "node": "Insert or update rows in a table1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert or update rows in a table1": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [],
                [
                    {
                        "node": "Download file",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e7f21370284e3484e68e4fd2694c76aff61023b8410adfd0644932c2f14549a"
    }
}